<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Site</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <h1><%= title %></h1>
    <div class="searchbar">
        <form action="/search" method="POST">
            <input type="text" name="search" id="search" placeholder="Search...">
            <input type="submit" value="Search">
        </form>
    </div>
    <div>
    <% content.forEach(row => { %>
    <a href="/personDetails/<%= row.Person_Vorname %>/<%= row.Person_Nachname %>">
      <div id="personInfo">
        <p><%= row.Person_Vorname %></p>
        <p><%= row.Person_Nachname %></p>
      </div>
    </a>
    <% }) %>
  </div>
  <div id="createPersonDiv">
    <form action="/person" method="POST" id="createPersonForm">
        <label for="vorname">Vorname:</label>
        <input type="text" id="vorname" name="vorname" value="">
        <label for="nachname">Nachname:</label>
        <input type="text" id="nachname" name="nachname" value="">
        <select name="beruf" id="beruf">
            <% berufe.forEach(b => { %>
              <option value="<%= b.id %>"><%= b.name %></option>
            <% }) %>
        </select>
        <input type="submit" value="Submit">
    </form>
  </div>
</body>
</html>