<%- include('partials/header') -%>

<h1 class="text-4xl">Welcome!!!</h1>
<p class="text-lg">This is a simple To-Do application built with Express.js and TypeScript.</p>
<p class="text-lg">You can manage your tasks easily.</p>
<p class="text-lg">Feel free to explore the features.</p>
<br>

<% if (locals.isAuthenticated) { %>
    <p>You are logged in.</p>
<% } else { %>
    <p>You are not logged in. <a href="/login" class="underline">Login</a>.</p>
<% } %>

<!--<h2><%= t.welcomeTitle %></h2>
<p><%= t.welcomeText1 %></p>
<p><%= t.welcomeText2 %></p>
<p><%= t.welcomeText3 %></p>
<p><%= t.loggedIn %></p>-->

<%- include('partials/footer') -%>
